//colores de fuentes
$color-fuentes1: white;
$color-fuentes2: black;

//fondo de botones
$color-background-bt: white;
$color-background-elec: rgba(0, 0, 255, 0.60);
$color-background-plom: rgb(217, 63, 5);
$color-background-pint:black;
$color-background-const:rgb(189, 255, 0);