body {
    background-image: url(../assets/IMG/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    font-family: 'K2D', sans-serif;
    width: auto;
    height: 100vh;
    @include grid(none, auto 1fr auto, "header""main""footer");
}