body {
    background-image: url(../../assets/IMG/fondo.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'K2D', sans-serif;
    display: grid;
    width: auto;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}