footer{
    grid-area: footer;
    background: linear-gradient(rgba(182, 218, 173, 0.473), rgba(10, 83, 18, 1));
    color: rgb(255, 255, 255);
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .625rem;
    div{
        p{
            margin: 3rem 1rem 0.25rem 1rem;
            font-weight: 200;
            font-size: 1rem;
            color:white;
            text-align: center;
        }
    }
}
.siganosFoot{
    margin-right: 3.125rem;
    p{
        margin: 0;
        padding: 0;
        color: black;
        font-size: 1.5rem;
    }
}