.antetitulo{
    grid-area: antetitulo;
    @include flex(none, center, center, none);
    font-weight: 600;
        h2{
            padding: .3rem;
            text-align: center;
            color:$color-fuentes1;
            width: 12.5rem; 
            height: 3.125rem;
            border-radius: .625rem;
            box-shadow: .3125rem .3125rem .3125rem gray;
        }
    }

.titElec{
    background-color: $color-background-elec;
}
.titPlom{
    background-color: $color-background-plom;
}
.titPint{
    background-color: $color-background-pint;
}
.titConst{
    background-color: $color-background-const;
}
.titCont{
    background-color: blue;
}