@media screen and (max-width:425px){
    header{
        div{
            h1{
                font-size: 1.133rem;
                }
            }
        .navBar{
                a{
                    font-weight: 400;
                }
        }
    }
    main{
        .gridmain{
            align-items: center;
            display: grid;
            grid-template-columns: 14.25rem auto;
            grid-template-rows:  1fr 2fr;
            grid-template-areas: 
            "menuPrincipal antetitulo"
            "articulo articulo";
            .antetitulo{
                h2{
                width:  7.5rem;
                height: 2rem;
                font-size: 1.2rem
                }
            }
            .menuPrincipal{
                div {
                    margin-left:.625rem 0 0 .3125rem;
                    padding: .3125rem;
                    ol{
                        li{
                            margin:10px 10px 10px 20px;
                            width:6.4375rem;
                            height:2rem;
                        }
                    }
                }
            }
            .articulo{
                width: 94vw;
                margin:.625rem 0 .3125rem .625rem;
                ul{
                    li{
                        font-size: 1.3rem;
                    }
                }
            }
            #carouselExampleAutoplaying{
                width: 95vw;
                margin:.625rem 0 .3125rem .625rem;
            }
        }
        .menuArticulo{
            p{
                font-size: 0.9rem;
            }
            .imgArticulo{
                    img{
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                    }
                }
        }
    }
}
