@media screen and (max-width:425px){
    header{
        div{
            h1{
                font-size: 1.133rem;
                }
            }
        .navBar{
                a{
                    font-weight: 400;
                }
        }
    }
    /* main mobiles */
    main{
        .gridmain{
            align-items: center;
            display: grid;
            grid-template-columns: 14.25rem 11.5rem;
            grid-template-rows:  1fr 2fr;
            grid-template-areas: 
            "menuPrincipal antetitulo"
            "articulo articulo";
            .menuPrincipal{
                div {
                    margin-left:.625rem 0 0 .3125rem;
                    padding: .3125rem;
                    ol{
                        li{
                            margin:10px 10px 10px 20px;
                            width:6.4375rem;
                            height:2rem;
                        }
                    }
                }
            }
            .articulo{
                width: 95vw;
                margin:.625rem 0 .3125rem .625rem;
                ul{
                    li{
                        font-size: 1.3rem;
                    }
                }
            }
            #carouselExampleAutoplaying{
                width: 95vw;
                margin:.625rem 0 .3125rem .625rem;
            }
        }
        .menuArticulo{
            p{
                font-size: 0.9rem;
            }
            .imgArticulo{
                    img{
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%;
                    }
                }
        }
    }
}

//     }
//     .imgArticulo img{
//         width: 9rem;
//         height: 9rem;
//         border-radius: 50%;
//         margin-top: 0;
//     }
//     .antetitulo {
//         width: 100%;
//         display: flex;
//         justify-content: left;
//         align-items: center;
//     }
//     .articulo{
//         margin-left: .8rem;
//         height: 25rem;
//     }
//     .titElec {
//         width: fit-content;
//         text-align: center;
//         height: 3.125rem;
//         background-color: blue;
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
//     .titPlom {
//         width: fit-content;
//         text-align: center; 
//         height: 3.125rem;
//         background-color: rgb(217, 63, 5, 90%);
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
    
//     .titPlom {
//         width: fit-content;
//         text-align: center;
//         height: 3.125rem;
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
    
//     .titPint {
//         width: fit-content;
//         text-align: center;
//         height: 3.125rem;
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
    
//     .titConst {
//         width: fit-content;
//         text-align: center;
//         height: 3.125rem;
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
    
//     .titCont {
//         width: fit-content;
//         text-align: center;
//         height: 3.125rem;
//         padding: 1rem;
//         border-radius: .625rem;
//         box-shadow: .3125rem .3125rem .3125rem gray;
//     }
//     .listaElec{
//         height: 22rem;
//     }
//     .listaPintor{
//         height: 22rem;
//     }
//     .listaConst{
//         height: 22rem;
//     }
//     .listaPlomero{
//         height: 22rem;
//         padding: 1.25rem 0.625rem 2.25rem 0.625rem;
//     }
//     div form{
//         height: 350px;
//     }
//     footer{
//         max-width: 100vw;
//     }
//     footer div p{
//         font-size: 0.7rem;
//     }
//     .siganosFoot {
//         margin-right:0.3rem;
//     }
