@media screen and (max-width:326px) {
    body {
        header {
            div {
                margin: auto 0 auto;
                h1 {
                    font-size: 1.1em;
                }
                p{
                    font-size: 0.7rem;
                }
            }
            .navBar{
                a{
                    font-size: 0.7rem;
                }
            }
        }
        main {
            .gridmain {
                .menuPrincipal {
                    width: 18rem;
                    div {
                        h3 {
                            font-size: 1.2rem;
                        }
                    }
                }
                .articulo {
                    ul {
                        li {
                            margin: 0;
                            font-size: 19.2px;
                        }
                    }
                }
                .gridFormulario {
                    .selec {
                        input {
                            margin: .0625rem;
                        }
                    }
                }
            }
            .menuArticulo {
                p {
                    font-size: 0.8rem;
                }
                .imgArticulo {
                    img {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}